{% extends 'blank_layout.html'%}

{% block navbar %}
{% include 'layouts/navbar.html'%}  
{% endblock %}


{% block banner %}
{% include 'layouts/banner.html'%}
{% endblock %}

{% block service_content %}
{% include 'layouts/service.html'%}
{% endblock %}

{% block content %}
{% include 'layouts/pdt_content.html'%}
{% endblock %}

{% block insta %}
{% include 'layouts/insta.html'%}
{% endblock %}

{% block footer %}
{% include 'layouts/footer.html'%}
{% endblock %}

{% block sign_up %}
{% include 'layouts/sign_up.html'%}   
{% endblock %}